name = "kofuk-org"
route = 'CLOUDFLARE_ROUTE'
usage_model = 'bundled'
compatibility_flags = []
workers_dev = true
compatibility_date = "2022-03-17"
main = "./dist/worker.js"

[build]
command = "npm install && npm run build_workers"

[site]
bucket = "./public"
