{{ define "main" }}
<h1 class="article-title">{{ .Title }}</h1>

<div class="frontmatter">
  {{ .Date.Format "2006-01-02" }}
  {{- if ne .Date .Lastmod -}}
  （最終更新: {{ .Lastmod.Format "2006-01-02" }}）
  {{- end }}

  {{ if .Params.Tags }}
  <ul class="tags">
    {{ range .Params.Tags }}
    <li><a href="{{ "tags/" | relURL }}{{ . | urlize }}" aria-label="タグ: {{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</div>

<div class="content">
  {{ .Content }}
</div>

<aside class="pager">
  {{- if .PrevInSection }}
  <a href="{{ .PrevInSection.RelPermalink }}" rel="prev">
    <div class="prev pager-button">
      <div class="link-name">‹ 前の投稿</div>
      <div class="article-title">{{ .PrevInSection.Title }}</div>
    </div>
  </a>
  {{- end }}
  {{- if .NextInSection }}
  <a href="{{ .NextInSection.RelPermalink }}" rel="next">
    <div class="next pager-button">
      <div class="link-name">次の投稿 ›</div>
      <div class="article-title">{{ .NextInSection.Title }}</div>
    </div>
  </a>
  {{- end }}
</aside>
{{ end }}
