code {
    font-family: monospace;
    padding-inline: 5px;
    border-radius: 2px;
    word-break: break-word;
}

pre {
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
    font-size: 15px;
    line-height: 150%;

    code {
        background-color: unset;
        padding-inline: unset;
    }
}

table {
    border-collapse: collapse;

    th, td {
        padding: 5px 10px;
    }
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 0 20px;
}

img {
    max-width: 100%;
}

hr {
    border: none;
    margin: 30px 20px;
}

div.colorbox {
    border-radius: 5px;
    margin: 15px;
    padding: 20px 15px;
}
