code {
    background-color: rgba(127, 127, 127, 0.2);
}

table {
    th, td {
        border: 1px solid rgba($fg_color, 0.3);
    }

    tbody {
        tr:nth-child(even) {
            background-color: rgba($fg_color, 0.1);
        }
    }
}

blockquote {
    color: rgba($fg_color, 0.6);
    border-left: 5px solid rgba($fg_color, 0.3);
}

hr {
    border-top: 1px solid #aaa;
}

div.colorbox {
    background-color: rgba($colorbox_bgcolor, 0.3);
    border: solid $colorbox_bgcolor 3px;
}
