name: deploy
on:
  push:
    branches:
      - master

env:
  HUGO_VERSION: '0.142.0'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          submodules: 'true'
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true
      - uses: actions/setup-node@v6
      - name: Install Dependencies
        run: npm ci
      - name: Configure Build
        run: |
          mkdir -p layouts/_default
          cp etc/list.bonsai.json layouts/_default/.
          cat etc/gen-bonsai-json.toml >>hugo.toml
      - name: Build
        run: hugo    # we don't like minification.
      - name: Update Elasticsearch Index
        env:
          ELASTICSEARCH_URL: ${{ secrets.ELASTICSEARCH_URL }}
        run: |
          curl -X PUT "${ELASTICSEARCH_URL}/_bulk?refresh" -H 'Content-Type: application/x-ndjson' --data-binary '@public/bonsai.json'
